@charset 'UTF-8';

#gameStage {
  position: absolute;
  top: 20%;
  left: 20%;
  overflow: hidden;
  width: 50%;
  height: 50%;
  background-color: black;
}

body {
  background-color: black;
}

#stage {
  position: absolute;
  top: 0;
  left: 0;
    /*background-color: black;*/
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.Stage {
  font-family: 'ghost', Georgia, serif;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

.cell {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 11.111111%;
  height: 11.111111%;
}

.Tile {
  background-color: white;
}

.characterSize {
  width: 11%;
  height: 17%;
}

.WallSize {
  width: 11%;
  height: 14%;
}

/**
 * Définition de la classe pour walk appliquée au survol.
 * Ici, nous précisons que nous allons utiliser l'animation walk définie plus bas
 * Nécessite une planche de sprites horizontale
 **/
.idle
{
    -webkit-animation: idle .8s steps(25) infinite;
            animation: idle .8s steps(25) infinite;
    /* walk : on précise qu'on utilise l'animation walk */
    /* 0.8s : la durée de cette animation */
    /* steps(10) : nous ne voulons pas faire coulisser l'arrièe plan pixel par pixel, nous spécifions un nombre d'étapes égal au nombre d'images constituant l'animation. */
    /* infinite pour préciser une boucle infinie */
}

.anim,
.fxShadow
{
    width: 100%;
    height: 100%;
}

.filtre
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .15);
    background-size: 100% 100%;
}

.fxShadow.shadowTop
{
    background: black;
    /* For browsers that do not support gradients */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .85)), to(rgba(0, 0, 0, .25)));
    background: linear-gradient(to bottom, rgba(0, 0, 0, .85), rgba(0, 0, 0, .25));
    background-repeat: no-repeat; 
    /*Standard*/
    background-size: 100% 16%;
}

.fxShadow.shadowLeft
{
    background: black;
    /* For browsers that do not support gradients */
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .85)), to(rgba(0, 0, 0, .25)));
    background: linear-gradient(to right, rgba(0, 0, 0, .85), rgba(0, 0, 0, .25));
    background-repeat: no-repeat; 
    /*Standard*/
    background-size: 15% 100%;
}

.fxShadow.shadowTop.shadowLeft
{
    background: url('../assets/ombre-angleW.png') left top;
    background-repeat: no-repeat; 
    background-size: 150% 150%;
}

.haloShadow
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 40%;
    height: 40%;

    -webkit-transition: bottom .25s, left .25s;
    /* Safari */
            transition: bottom .25s, left .25s; 

    background: radial-gradient(rgba(0, 0, 100, .85) 5%, rgba(0, 0, 100, .45) 15%, rgba(0, 0, 100, 0) 60%);
    background-repeat: no-repeat;
    /* Standard syntax */
    background-size: 100% 100%;
}

.halo
{
    -webkit-transition: bottom .25s, left .25s;
    /* Safari */
            transition: bottom .25s, left .25s;
}

.haloPlayer
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 40%;
    height: 40%;

    background: radial-gradient(rgba(140, 120, 255, .85) 5%, rgba(140, 120, 255, .45) 15%, rgba(140, 120, 255, 0) 60%);
    background-repeat: no-repeat; 
    /* Standard syntax */
    background-size: 100% 100%;
}

.haloTarget
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 25%;
    height: 25%;

    background: radial-gradient(rgba(180, 180, 255, .45) 5%, rgba(180, 180, 255, .25) 25%, rgba(180, 180, 255, 0) 60%);
    background-repeat: no-repeat; 
    /* Standard syntax */
    background-size: 100% 100%;
}

.haloBox
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 40%;
    height: 40%;

    background: radial-gradient(rgba(180, 180, 255, .65) 5%, rgba(180, 180, 255, .35) 15%, rgba(180, 180, 255, 0) 60%);
    background-repeat: no-repeat; 
    /* Standard syntax */
    background-size: 100% 100%;
}

.Box
{
    -webkit-animation: boxRotate 1.2s steps(25) infinite;
            animation: boxRotate 1.2s steps(25) infinite; 

    background: url('../assets/rubantW.png') right center;
    background-repeat: no-repeat;
    background-size: 35%;
}
.Box.OnTarget
{
    -webkit-animation: none;
            animation: none; 

    background: url('../assets/ruban-sur-tombeW.png') center;
    background-repeat: no-repeat;
    background-size: 20%;
}

.ShadowBox.OnTarget
{
    -webkit-animation: none;
            animation: none; 

    background: url('../assets/rubanB-sur-tombeW.png') center;
    background-repeat: no-repeat;
    background-size: 20%;
}

.arrow
{
    position: relative;
    top: 20%;
    left: 25%;

    width: 38%;
    height: 100%;

    -webkit-transition: -webkit-transform .25s;

    transition: -webkit-transform .25s;

    transition: transform .25s;

    transition: transform .25s, -webkit-transform .25s; 
    -webkit-animation: arrow .8s steps(16) infinite; 
            animation: arrow .8s steps(16) infinite;

    background-image: url('../assets/arrowW.png');
    background-repeat: no-repeat;
    background-position: 98.8%;
    background-size: auto 15%;
}
.arrow.dsync
{
    background-image: url('../assets/arrowascW.png');
}

.ShadowBox
{
    -webkit-animation: boxRotate 1.2s steps(25) infinite;
            animation: boxRotate 1.2s steps(25) infinite; 

    background: url('../assets/rubantNoirW.png') right center;
    background-repeat: no-repeat;
    background-size: 35%;
}

.Wall
{
    background: url('../assets/mur-horrorW.png') left center;
    background-repeat: no-repeat; 
    background-size: 100% 100%;
}

.Player
{
    background: url('../assets/playerW.png');
    background-repeat: no-repeat; 
    background-size: cover;
}

.Shadow
{
    background: url('../assets/shadowW.png') left center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.Target
{
    background: url('../assets/tombeW.png') left center;
    background-size: contain;
}

.Ground
{
    background: url('../assets/plancher-horrorW.png') left center;
    background-size: contain;
}

.Void
{
    background-color: black;
}

.Mobile
{
    position: absolute;
    bottom: 0;
    left: 0;

    -webkit-transition: bottom .25s, left .25s;
    /* Safari */
            transition: bottom .25s, left .25s;
}

#loadBar
{
    position: absolute;
    bottom: 50%;
    left: 0;

    width: 0;
    height: 15%;

    -webkit-transition: width .50s;
            transition: width .50s; 

    background-color: white;
}

/**
 * Définition des propriétés de l'animation walk
 */
@-webkit-keyframes idle {
    /* nous ne modifions que la propriété background position */
  0% {
    background-position: -.05%;
  }
    /* point de départ 0% du mouvement */
  100% {
    background-position: 100.55%;
  }
    /* arrivée 100% du mouvement */
}
@keyframes idle {
    /* nous ne modifions que la propriété background position */
  0% {
    background-position: -.05%;
  }
    /* point de départ 0% du mouvement */
  100% {
    background-position: 100.55%;
  }
    /* arrivée 100% du mouvement */
}

@-webkit-keyframes arrow {
    /* nous ne modifions que la propriété background position */
  0% {
    background-position: 0;
  }
    /* point de départ 0% du mouvement */
  100% {
    background-position: 98.8%;
  }
    /* arrivée 100% du mouvement */
}

@keyframes arrow {
    /* nous ne modifions que la propriété background position */
  0% {
    background-position: 0;
  }
    /* point de départ 0% du mouvement */
  100% {
    background-position: 98.8%;
  }
    /* arrivée 100% du mouvement */
}

@-webkit-keyframes boxRotate {
    /* nous ne modifions que la propriété background position */
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
    /* point de départ 0% du mouvement */
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
    /* arrivée 100% du mouvement */
}

@keyframes boxRotate {
    /* nous ne modifions que la propriété background position */
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
    /* point de départ 0% du mouvement */
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
    /* arrivée 100% du mouvement */
}

@-webkit-keyframes none {
}

@keyframes none {
}
